$("table#table_field_type_user > tbody").append(`
  <tr>
    <td><%= @field_type_user.name %></td>
    <td><button type="button" class="btn btn-flat btn-danger" id="remove_ftutu" data-type-user-id="<%= @type_user.id %>" data-field-type-user-id="<%= @field_type_user.id %>">-</button></td>
  </tr>
`);
notifSuccess("Le champ a bien été ajouté !");
