$("td[data-target='#<%= @type_user.id%>']").replaceWith("<td data-toggle='modal' data-target='#<%= @type_user.id %>'><%= @type_user.name %></td>");
notifSuccess("Le type utilisateur a bien été modifié !");
