

<h1>Listing Teches</h1>

<table>
  <thead class="header">
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teches.each do |tech| %>
      <tr>
        <td><%= link_to 'Show', tech %></td>
        <td><%= link_to 'Edit', edit_tech_path(tech) %></td>
        <td><%= link_to 'Destroy', tech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tech', new_tech_path %>
