// Clean the input
$("#name_add_field_type_users").val("");
// append the new user field
$("table#table_field_type_users > tbody").append(`
<tr id='<%= @field_type_user.id%>' class='fields_type_user'>
  <td><input type='text' name='name_field_type_users' value='<%= j @field_type_user.name %>' class='form-control' id='name_field_type_user'/></td>
  <td><button type='button' name='delete_field_type_users' class='btn btn-danger' id='delete_field_type_users'>-</button></td>
</tr>
`);
// Notif
notifsTempo("Création réussie !", 4000, 'green');
