<div class="table-responsive">
  <table class="table table-hover table-bordered" id="table_field_type_users">
    <thead class="header">
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr class="add_field_type_user">
      <td><input type="text" name="name_field_type_users" value="" class="form-control" placeholder="Nom du champ" id="name_create_field_type_users"></td>
      <td><button type="button" name="create_field_type_users" class="btn btn-flat btn-success" id="create_field_type_users">+</button></td>
    </tr>
    <% @field_type_users.each do |field_type_user| %>
      <tr id="<%= field_type_user.id %>" class="fields_type_user">
        <td><input type="text" name="name_field_type_users" value="<%= field_type_user.name %>" class="form-control" id='name_field_type_user'></td>
        <td><button type="button" name="delete_field_type_users" class="btn btn-flat btn-danger" id="delete_field_type_users">-</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% content_for(:js) do %>
  <%= javascript_include_tag 'field_type_users' %>
<% end %>
