<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specs_types_material.name %>
</p>

<%= link_to 'Edit', edit_specs_types_material_path(@specs_types_material) %> |
<%= link_to 'Back', specs_types_materials_path %>
