<h1>Modification du mot de passe</h1>

<p>
  Une demande de changement de mot de passe a été faite. Si vous
  n'avez rien à voir avec cette demande, veuillez ignorer cet email.
  Si c'est vous qui avez fait cette demande, cliquez sur le lien ci-dessous.
</p>

<%= link_to "Modifier le mot de passe", @edit_password_reset_url %>
