<%= render 'form_edit' %>
<div class="box box-warning direct-chat direct-chat-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Résolution du problème</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="direct-chat-messages">
      <% @incident.responses.each do |response| %>
      <% if current_user == response.sender %>
      <div class="direct-chat-msg right">
        <% else %>
        <div class="direct-chat-msg">
          <% end %>
          <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left"><%= "#{response.sender.name} #{response.sender.surname}" %></span>
            <span class="direct-chat-timestamp pull-right"><%= response.created_at %></span>
          </div>
          <img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="">
          <div class="direct-chat-text">
            <%= strip_tags(response.content) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="box-footer">
      <div class="input-group">
        <input name="message" placeholder="Écrivez un message ..." class="form-control" type="text">
        <span class="input-group-btn">
          <button type="button" class="btn btn-warning btn-flat">Envoyer</button>
        </span>
      </div>
    </div>
    <!-- /.box-footer-->
  </div>

  <!--
