<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fields_seller.name %>
</p>

<%= link_to 'Edit', edit_fields_seller_path(@fields_seller) %> |
<%= link_to 'Back', fields_sellers_path %>
