<div class="table-responsive">
  <table class="table table-hover">
    <thead class="header">
      <% if @edit_other_user then %>
      <tr>
        <!-- <th>#</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Agence</th>
        <th>Inscription</th> -->
      </tr>
    <% else %>
      <tr>
        <th>Tel</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Agence</th>
      </tr>
      <% end %>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <% if @edit_other_user then %>
      <!-- Vue pour les administrateurs -->
      <tr>
      </tr>
    <% else %>
      <!-- Vue pour les utilisateurs -->
      <tr>
      </tr>
      <% end %>
      <%end%>
    </tbody>
  </table>
</div>
