<!-- Modal informations agence  -->
<div class="container-modal">
  <!-- Modal -->
  <div class="modal fade" id="modalCreateGraphics" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Graphique des agences</h4>
        </div>
        <div class="modal-body">
          <div id="chart-1" style="height: 600px; width: 870px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-modal" data-dismiss="modal">Fermer</button>
        </div>
      </div>

    </div>
  </div>

</div>
