<div class="container-modal">
  <div class="modal fade" id="modalCreateGraphics" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Graphique des agences</h4>
        </div>
        <div class="modal-body">
          <div id="chart-1" style="height: 600px; width: 870px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" name='refresh' class="btn btn-flat btn-default btn-modal">Actualiser</button>
          <button type="button" class="btn btn-flat btn-danger btn-modal" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
