<% @title = "Editer agence"%>
<% !current_user.nil? && if Right.where(name: "edit_agency").pluck(current_user.tech.name).join('')  == 'true' %>

<h1 class="title-h1">Editer une agence</h1>

<%= render 'form' %>

<%= link_to 'Annuler', agencies_path %>
<%else%>
<% @title = "Accès non autorisé"%>
<%= flash.now[:not_authorized] = "Vous n'avez pas l'autorisation d'accéder à cette page" %>
<% end %>
