<% if Right.where(name: "create_new_agency").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Nouvelle agence"%>
<%= render 'form' %>
<%= link_to 'Annuler', agencies_path, class: "btn btn-danger btn-align form-interface" %>

<%else%>
<% @title = "Accès non autorisé"%>
<p class="alert_non_authorized">
  Accès non autorisé ! <%= render 'sessions/new' %>
</p>
<% end %>
