<div class='table-responsive'>
  <table class='table table-hover' id='table_spec_materials'>
    <thead class='header'>
      <tr>
        <th>Type de caractéristique technique</th>
        <th>Valeur</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= select_tag 'spec_type_new_spec_material', options_for_select(@spec_type_materials.collect{|stm| [stm.name, stm.id]}), class: 'dropdownSearchCreate form-control' %></td>
        <td><input type='text' name='name' placeholder='Valeur' id='value_new_spec_material' class='form-control'></td>
        <td><button type='button' name='button' class='btn btn-success' id='create_new_spec_material'>+</button></td>
      </tr>
      <% @spec_materials.each do |spec_material| %>
        <tr id='<%= spec_material.id %>'>
          <td><%= select_tag 'spec_type_spec_material', options_for_select(@spec_type_materials.collect{|stm| [stm.name, stm.id]}, selected: spec_material.spec_type_material.id), class: 'dropdownSearchCreate form-control' %></td>
          <td><input type='text' name='name' value='<%= spec_material.spec_value %>' class='form-control' id='input_spec_material'/></td>
          <td><button type='button' name='button' class='btn btn-danger' id='delete_spec_materials'>-</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
