<% if !current_user.nil? && Right.where(name: "create_new_subcategory").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Nouvelle sous catégorie"%>
<%= render 'form' %>
<%= link_to 'Annuler', sous_categories_path, class: "btn btn-danger btn-align form-interface" %>
<% else %>
<% @title = "Accès non autorisé"%>
<p class="alert_non_authorized">
  Accès non autorisé ! <%= render 'sessions/new' %>
</p>
<% end %>
