$("#modal_type_material_<%= @type_material.id %>").find("tbody").append(`
  <tr data-spec-type-material-id="<%= @spec_type_material.id %>" data-type-material-id="<%= @type_material.id %>">
    <td><%= @spec_type_material.name %></td>
    <td><button type="button" name="button" class="btn btn-danger" id="delete_spec_type_material">-</button></td>
  </tr>
`);
