<div class="table-responsive">
  <table class="table table-hover" id="table_type_material">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><input type="text" name="name" value="" placeholder="Nom du champ" class="form-control" id='name_new_type_material'></td>
        <td><button type='button' name='button' class='btn btn-success' id='create_new_type_material'>+</button></td>
      </tr>
      <% @type_materials.each do |type_material| %>
        <tr id='<%= type_material.id %>'>
          <td><input type="text" name="name" value="<%= type_material.name %>" class="form-control" id='input_type_material'></td>
          <td><button type="button" name="button" class="btn btn-danger" id='delete_type_material'>-</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>

  <% content_for(:js) do %>
  <%= javascript_include_tag 'type_materials'%>
  <% end %>
