  <% @title = "Application en maintenance" %>
  <div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Erreur 110010100</h1>
    <%= image_tag("accidents.png", alt: "")%>
  </div>
  <div class="col-md-4">

  </div>
</div>
<h2>L'Application n'est pas disponible pour le moment, veuillez réessayer ultérieurement.</h2>
