<h1 class="home">Bonjour et bienvenue sur la page d'accueil de TickMaster.</h1><br><br><br><br><br><br><br><br>
<%= link_to("Se connecter", signin_path, :method => :get, :class => "btn btn-success form-interface", style: "height: 100px; padding: 28px; font-size: 2.5rem; font-weight: 700;")%><br><br>
<%= link_to("S'inscrire", signup_path, :method => :get, :class => "btn btn-primary form-interface", style: "height: 100px; padding: 28px; font-size: 2.5rem; font-weight: 700;")%>
