  <% @title = "Oups, vous ne devriez pas être là..." %>
  <div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Erreur 110010100</h1>
    <%= image_tag("accidents.png", alt: "")%>
  </div>
  <div class="col-md-4">

  </div>
</div>
<h2>Cette page est en cours de construction, veuillez réessayer ultérieurement.</h2>
