<div class='table-responsive'>
  <table class='table table-hover' id='table_specs_materials'>
    <thead class='header'>
      <tr>
        <th>Type de caractéristique technique</th>
        <th>Valeur</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= select_tag 'spec_type_new_specs_material', options_for_select(@specs_types_materials.collect{|stm| [stm.name, stm.id]}), class: 'dropdownSearchCreate form-control' %></td>
        <td><input type='text' name='name' placeholder='Valeur' id='value_new_specs_material' class='form-control'></td>
        <td><button type='button' name='button' class='btn btn-success' id='create_new_specs_material'>+</button></td>
      </tr>
      <% @specs_materials.each do |specs_material| %>
        <tr id='<%= specs_material.id %>'>
          <td><%= select_tag 'spec_type_specs_material', options_for_select(@specs_types_materials.collect{|stm| [stm.name, stm.id]}, selected: specs_material.specs_types_material.id), class: 'dropdownSearchCreate form-control' %></td>
          <td><input type='text' name='name' value='<%= specs_material.spec_value %>' class='form-control' id='input_spec_material'/></td>
          <td><button type='button' name='button' class='btn btn-danger' id='delete_specs_materials'>-</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
