<div class="table-responsive">
  <table class="table table-hover" id="table_field_sellers">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><input type="text" name="name_field_seller" value="" placeholder="Nom du champ" class='form-control' id='name_field_seller'/></td><td><button type="button" name="add_field_seller" class='btn btn-success' id='add_field_seller'>+</button></td></tr>
      <% @field_sellers.each do |field_seller| %>
        <tr data-field_seller_id='<%= field_seller.id %>'>
          <td><input type='text' name='field_seller_name' id='field_seller_name' value='<%= field_seller.name %>' class='form-control'/></td>
          <td><button type="button" name="delete_field_sellers" class='btn btn-danger' id='delete_field_sellers'>-</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).on('keyup', 'input#field_seller_name', function(e){
    if(e.keyCode == 13 && $(this).val() != ""){
      $.ajax({
        url: '/field_sellers/' + $(this).parent().parent().data('field_seller_id'),
        type: 'PUT',
        dataType: 'script',
        data: {
          field_seller: {
            name: $(this).val()
          }
        },
        error: function(result){
          alert(result.responseText);
        }
      });
    }
  });

  $(document).on('click', '#delete_field_sellers', function(){
    $.this = $(this);
    $.ajax({
      url: '/field_sellers/' + $(this).parent().parent().data('field_seller_id'),
      type: 'DELETE',
      error: function(result){
        alert(result.responseText);
      },
      success: function(){
        $.this.parent().parent().remove();
      }
    });
  });

  $(document).on('click', 'button#add_field_seller', function(){
    $.this = $(this);
    var name = $(this).parent().parent().children('td').children('input').val();
    $.ajax({
      url: '/field_sellers/',
      type: 'POST',
      dataType: 'script',
      data: {
        field_seller: {
          name: name
        }
      },
      success: function(){
        $('#table_field_sellers > tbody').append('<tr><td><input type="text" value="' + name + '" name="field_seller_name" id="field_seller_name" class="form-control" /></td><td><button class="btn btn-danger" name="delete_field_sellers" type="button" id="delete_field_sellers">-</button></td></tr>')
        $.this.parent().parent().children('td').children('input').val("");
      },
      error: function(result){
        alert(result.responseText);
      }
    });
  });
  $(document).on('keyup', 'input#name_field_seller', function(e){
    if(e.keyCode == 13 && $(this).val() != ""){
      $.this = $(this);
      var name = $(this).val();
      $.ajax({
        url: '/field_sellers/',
        type: 'POST',
        dataType: 'script',
        data: {
          field_seller: {
            name: name
          }
        },
        success: function(){
          $('#table_field_sellers > tbody').append('<tr><td><input type="text" value="' + name + '" name="field_seller_name" id="field_seller_name" class="form-control" /></td><td><button class="btn btn-danger" name="delete_field_sellers" type="button" id="delete_field_sellers">-</button></td></tr>')
          $.this.val("");
        },
        error: function(result){
          alert(result.responseText);
        }
      });
    }
  });
</script>
