<div class="table-responsive">
  <table class="table table-hover table-bordered" id="table_field_sellers">
    <thead class="header">
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="name_new_field_seller" value="" placeholder="Nom du champ" class='form-control'/></td>
        <td><button type="button" name="create_field_seller" class='btn btn-flat btn-success'>+</button></td>
      </tr>
      <% @field_sellers.each do |field_seller| %>
        <tr id='<%= field_seller.id %>'>
          <td><input type='text' name='name_field_seller' value='<%= field_seller.name %>' class='form-control'/></td>
          <td><button type="button" name="destroy_field_sellers" class='btn btn-flat btn-danger'>-</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% content_for :js do %>
  <%= javascript_include_tag 'field_sellers' %>
<% end %>
