<% if !current_user.nil? && Right.where(name: "edit_rights").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Editer droit : #{@right.name}" %>

<h2 class="form-interface">Editer droit</h2>

<%= render 'form' %>

<%= link_to 'Annuler', rights_path, class: "btn btn-danger btn-align form-interface" %>
<% else %>
<% @title = "Accès non autorisé"%>
    <%= flash.now[:notice] = "Accès non autorisé !" %>
</p>
<% end %>
