<br>
<%= simple_form_for(@update) do |f| %>
  <div class="form-inputs">
    <%= f.cktext_area :changesMade %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Valider', class: "btn btn-flat btn-success" %>
    <%= link_to 'Annuler', updates_path, class: "btn btn-flat btn-warning" %>
  </div>
<% end %>
