<div class="table-responsive">
  <table class="table table-hover" id="table_updates">
    <thead class="header">
    <tr>
      <th>Modifications</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= update.changesMade %></td>
        <td><%= link_to 'Editer', edit_update_path(update) %></td>
        <td><%= link_to 'Supprimer', update, method: :delete, data: { confirm: 'Êtes vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nouvelle mise à jour', new_update_path, class: "btn btn-success" %>
