// Possible skins (ajouter la classe au body) :
// .skin-blue
// .skin-blue-light
// .skin-black
// .skin-black-light
// .skin-green
// .skin-green-light
// .skin-red
// .skin-red-light
// .skin-yellow
// .skin-yellow-light
// .skin-purple
// .skin-purple-light


/*
*= require adminlte
*= require all-skins.min
*= require jquery.dataTables.min
*= require selectize
*= require selectize.bootstrap3
*= require sweetalert
*= require rights
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Lateral Bar -- Begin
div.pull-left.image{
  padding-bottom: 15px;
}
// Lateral Bar -- End

// Tables -- Begin
table{
  tbody{
    tr{
      cursor: pointer;
    }
  }
}
// Tables -- End

// notifsTempo -- Begin
.notifs-tempo{
  position: fixed;
  top: 60px;
  right: 10px;
}
// notifsTempo -- End
