.updown-arrow,
.updown-arrow:active,
.updown-arrow:hover,
.updown-arrow:focus{
  position: fixed;
  float: right;
  right: 8px;
  bottom: 20px;
 border-radius: 3px;
 text-decoration: none;
 visibility: hidden;
 font-size: 3em;
}
.updown-arrow:active{
 color: $background-navbar-connected-nuit;
 background: rgba(255, 255, 255, 0.3);

}
.updown-arrow{
 color: $background-navbar-connected-nuit;
 background: rgba(255, 255, 255, 0.3);

}
