#content {
  position: relative;
  margin-left: 220px;
  background-size: 100% 100%;

  margin-top: 9px;
  color: $text-color-jour;

}
#content{
  background: $background-content-nuit;
}
#content.isOpen {
  position: relative;
  margin-top: 10px;
  left: -200px;
  width: 96.2%;
}
html, body, div#content{
  min-height: 89vh;
}
#not-connected #content {
  font-weight: $font-weight;
}
