
div.response-hover-cellule {
  position: fixed;
  top: 20vh;
  padding: 30px;
  margin-left: 5%;
  margin-right: auto;
  width: 800px;
  height: 450px;

  background: floralwhite;
  border-radius: 3px;
  box-shadow: 0px 0px 2px grey;
  div.content-response-hover-cellule{
    overflow-y:auto;
    max-height: 280px;
    line-height: 25px;
  }
  div.menu-response-hover-cellule{
    border-bottom: 1px lightgray solid;
  }
  .cross-close-response-hover-cellule{
    position: relative;
    float:right;
    margin-top: -25px;
  }
}
.aucun-incident-div{
  padding-top: 40vh;
  h1{
    text-align: center;
  }
}


.input-file-container {
  position: relative;
  width: 100%;

}
.js .input-file-trigger {
  margin-left: 50px;
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  width: 200px;
}
.js .input-file {
  position: absolute;
  width: 300px;
  opacity: 0;
  padding: 22px 0;
  cursor: pointer;

}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
.card-incident{
  padding-top:20px;
  cursor:pointer;
  margin:10px;
  max-width: 300px;
  height: 400px;
  border-radius:2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.2s ease-in-out;
 }
 .card-incident:hover{
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }
.tri-cards-list-incidents{
  margin-top: 20px;
}
