div.actions{
  float: right;
  ul{
    display: inline;
    li{
      display: inline;
    }
  }
}

div.direct-chat-msg-other{
  div.direct-chat-text{
    background: #f39c12 !important;
    border-color: #f39c12 !important;
  }
  div.direct-chat-text::before,div.direct-chat-text::after{
    border-left-color: rgba(0,0,0,0) !important;
  }
}
