.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  background: transparent;
  position: fixed;
  top: 0;
  width: 180;
  height: 100%;
  padding-top: 10px;
}
#connected > .nav-side-menu.Jour{
  background: $background-connected-white;
}
#connected > .nav-side-menu.Nuit{
  background: $background-connected-black;
}
.nav-side-menu .brand {
  visibility: hidden;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul:not(collapsed) .arrow:before,
.nav-side-menu li:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu li {
  padding-left: 10px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: $border-left-nav-side-menu-buttons;
  background-color: $background-connected-black;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: $link-hover;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: $link-hover;
}
.nav-side-menu.Jour ul .sub-menu li,
.nav-side-menu.Jour li .sub-menu li {
  background-color: $background-link-lateral-bar-open-jour;
  border: none;
  line-height: 28px;
  border-bottom: $border-bottom-nav-side-menu-open;
  padding-left: 0;
}
.nav-side-menu.Nuit ul .sub-menu li,
.nav-side-menu.Nuit li .sub-menu li {
  background-color: $background-link-lateral-bar-open-nuit;
  border: none;
  line-height: 28px;
  border-bottom: $border-bottom-nav-side-menu-open;
  padding-left: 0;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: $background-nav-side-menu-open-hover;
  color: $link-hover;
}

//Petit signe a gauche du lien dans le déroulement
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\2234";
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0;
  border-left: $border-nav-side-menu-nouvel-incident;
}
.nav-side-menu li a {
  max-width: inherit;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  text-decoration: none;
  // padding-right: 30px;
}
.sub-menu.collapse.in li a {
  padding-right: 25%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-decoration: none;
}
.sub-menu.collapse.out li a {
  padding-right: 20%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  text-decoration: none;
}
.sub-menu.collapsing li a {
  padding-right: 20%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  text-decoration: none;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  // padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #34314c;
  background-color: #3F3F4E;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: $link-hover;
}
.nav-side-menu .menu-list .menu-content {
  display: block;
}
.nav-side-menu {
  overflow: hidden;
}
.new_incident_button {
  background: #47b8e0 ;
}
