@media screen and(min-width:767px) and(max-width:1104px) {
  html {
  }
  header nav ul li h1 {
    margin-left: 10%;
  }
  .title-h1 {
    width: 100%;
    margin-left: 0;
  }
  .button {
    padding: 1rem;
  }
  .new_user {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 80%;
    margin-left: 10%;
  }
  form.new_user div.form-group {
    width: 80%;
    padding-left: 20%;
  }
  .btn-create-new-user {
    width: 100%;
    margin-left: 0;
  }
  form.connect-user div.form-group {
    width: 70%;
    margin-left: 15%;
  }
  .connect-user {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 60%;
    margin-left: 18%;
  }
  h3 .title-on-page{
    visibility: hidden;

  }
  input.btn.btn-success.new_incident_button{
    visibility: hidden;
  }
  .navbar-btn{
    margin-top: 13px;
  }
  .title-on-page{
    visibility: hidden;
  }
}
