.title-site {
  font-family: $text-font-title;
  text-decoration: none;
  font-weight: 400;
  color: $text-color-title !important;
  cursor: pointer;
}
.navbar {
  background: transparent;

  // box-shadow: 5px 5px 10px rgba(#222, 0.5);
  border-bottom-color: $border-bottom-color-navbar;
}
#connected .navbar {
  background: $background-navbar-connected;
  background-size: 100% 100%;

  border-radius: 0;
}
.title-on-page{
  color: $text-color;
}

header .button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-weight;
  color: $text-color-navbar;
  margin-right: 10px;

}

body { padding-top: 50px; } /*BODY PADDING FOR NAVBAR FIXED TOP*/

header .button:focus {
  background-color: transparent !important;
}

.by-cle{
  margin-bottom: 10px;
}
.whoisconnected{
  display: inline-block;
  list-style: none;
  color: $text-color;
  position: absolute;
  right:20px;
  top:10px;
}
