.title-site {
  font-family: $text-font-title;
  text-decoration: none;
  font-size: $title-font-size;
  font-weight: 400;
  color: $background-navbar-connected-jour !important;
  cursor: pointer;
}
#btn_new_incident_top_right{
  background-color: #2ecc71;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  top:0;
  right:0;
}

.navbar {

  // box-shadow: 5px 5px 10px rgba(#222, 0.5);
  border-bottom-color: $border-bottom-color-navbar;
}
#connected .navbar {
  background: $background-navbar-connected-nuit;
  background-size: 100% 100%;
  border-radius: 0;
}

header .button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-weight;
  color: $text-color-navbar;
  margin-right: 10px;

}

body { padding-top: 50px; } /*BODY PADDING FOR NAVBAR FIXED TOP*/

header .button:focus {
  background-color: transparent !important;
}
.container-fluid{
  padding-left: 0px;
  .navbar-brand{
    margin-left: -22px !important;
  }
}
.by-cle{
  margin-bottom: 10px;
    img{
        margin-left: 15px;
    }
}
.whoisconnected{
  display: inline-block;
  list-style: none;
  color: $text-color-jour;
  position: absolute;
  right:20px;
  top:10px;
  .dropdown-toggle{
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 15px;
    top: 0;
    right: 70px;
    }
    ul.dropdown-menu{
      top: 50px;
    }
    .bell-icon{
      right: 140px;
    }
    .dropdown-notif{
      .dropdown-menu{
        background: $background-content-nuit;
        position: fixed;
        right: 0;
        padding: 20px;
        width:500px;
        top:60px;
      }
    }
    .search-icon{
      right: 210px;
    }
    .dropdown-search{
      .dropdown-menu{
        background: $background-content-nuit;
        position: fixed;
        right: 0;
        padding: 20px;
        width:500px;
        top:60px;

        li{
          display: inline-block;
        }
        li.field{
          width:90%;
        }
        li.img{
          width:5%;
          margin-left: 10px;
        }
        input[type="text"]{
          width:100%;
        }
        input[type="radio"]{
          height:15px;
          box-shadow: inset 0 0 0 !important;
        }
        .li-text-input{
          width:20%;
        }
        .li-radio{
          width:20%;
        }
      }
    }
}

div.navbar-header{
  background: #3498db;
  padding-left: 20px;
  margin-right: 20px !important;
}
