.header-fixed {
  margin-top: -90px;
  cursor: pointer;
  height: 45px;
}
.header {
  box-shadow: 0 0 0;
}
.header-fixed .tablesorter-filter-row {
  position: absolute;
  left: -999999999px;
  top: -999999999px;
}
.header-fixed.isOpen {
  left: 60px !important;
}
.header-copy{
  // visibility: hidden;
}
thead .header {
  margin-top: -30px !important;
}
.tablesorter-filter {
  max-width: 120px;
}
input:focus {
  box-shadow: 0 0 5px #47b8e0 ;
}
.field.tech_name {
  list-style: none;
}
select:nth-child(1) {
  font-size: 0.85em;
}
.table-hover > tbody > tr:hover {
  background: transparent !important;
}
#connected tbody tr:hover td,
#connected theader tr:hover th {
  background: $background-td-hover;
}
td {
  cursor: pointer;
}
table tr th {
  font-weight: $font-weight-tables !important;
}
tbody td {
  word-wrap: break-word;
  overflow: hidden;
}
thead {
  background: $background-connected;
}
.tableau-de-bord {
  label {
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  .table-responsive {
    height: 300px !important;
    overflow-y: scroll;
    table {
      table-layout: fixed;
    }
  }
}
