// Place all the styles related to the type_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_type_user_modal{
  div.labels-checkboxes{
    text-align: center;
  }
}

.modal-details-type-user{
  span{
    cursor: pointer;
  }
  h5.modal-title, img.edit_img{
    display: inline-block;
  }
  img.edit_img{
    margin-left: 10px;
    margin-top: -3px;
  }
  img.edit_img.save{
    display: none;
  }
}
