/*FONTS*/
/*color*/
$text-color: #111;
$text-color-on-blue: #111;
$link-hover:#FFF;
$text-color-navbar:white !important;
/*police*/
$text-font: Arial, cursive;
$text-font-title: 'Black Ops One', cursive;
/*weight*/
$font-weight-thin: 300;
$font-weight-normal: 500;
$font-weight-thick: 700;
/*size*/
$font-size-default: 100%;
$font-size-min-412: 80%;
$font-size-min-413: 80%;
$font-size-min-737: 80%;
$font-size-min-1105: 80%;
/*FONTS*/



/*BACKGROUNDS*/
$background-connected: rgba(#fff, 1);
$background: $background-connected;
$background-navbar-disconnected: rgba(#1C1D22, 1);
$background-navbar-connected: rgba(#1C1D22,1);
$background-td-hover: #EEE;
$background-new-user: rgba(#000,0.2);
$background_dropdown: rgba(#000, 1);
$background_dropdown-hover: rgba(#fff, 1);
$background_form: #f5f5f5;
/*BACKGROUNDS*/


/*POSITIONS*/

/*POSITIONS*/
