/*FONTS*/
/*color*/
$text-color-jour: #111;
$text-color-nuit: #EEE;
$text-color-title: #47b8e0 ;
$link-hover:#FFF !important;
$text-color-navbar: #000 !important;
$text-color-h1-home: #111;
/*police*/
$text-font: 'Quicksand',Arial,cursive;
$text-font-title: 'Pacifico', cursive;
/*weight*/
$font-weight: bold;
$font-weight-tables: bold;
$font-weight-btns: bold;
$font-weight-options-select: bold;
/*size*/
$title-font-size: 22px;
$font-size-big: 3em;
$font-size-default: 2em;
$font-size-little: 1.5em;
$font-size-extra-little: 1em;
$font-size-links-lateral-bar: 13px;

/*FONTS*/



/*BACKGROUNDS*/
$background-link-lateral-bar-open-nuit: #222;
$special_color: #ff7473;
$background: url("test.png") no-repeat fixed 20px 70px;
$background-connected-black: #1f282d;

$background-navbar-connected-jour: #fcfcfd;
$background-navbar-connected-nuit: #1f282d;
$background-content-nuit: #fcfcfd;

$background-td-hover: rgba(#000, 0.2);
$background-new-user: rgba(#000, 0.0);
$background_dropdown-hover: rgba(#fff, 1);
$background_form: #f5f5f5;
$background-nav-side-menu-open-hover: #34314c ;
$background-placeholder-bottom-bar-color: #3498db;
$bouton-validate-color: #3498db;
$bouton-pas-inscrit-background: #34314c ;
$bouton-pseudo-oublie-background:#ff7473 ;
/*BACKGROUNDS*/

/*POSITIONS*/

/*POSITIONS*/
// SHADOWS
$box-shadow-form-user: 0 0 0;
// $box-shadow-form-user: 10px 10px 5px #111;

//btn
$btn-se-deco-color: #FF7473;
$border-color-btns: $text-color-jour;
$text-color-btn: $text-color-jour;
// OTHERS

$border-bottom-color-navbar: transparent;
$border-left-nav-side-menu-buttons: 3px solid #3498db;
$border-bottom-nav-side-menu-open: 1px solid #FFF;
$border-nav-side-menu-nouvel-incident: 3px solid #3498db;
