<td><%= escape_javascript(link_to "Editer", edit_sous_category_path(sous_category))%></td>
<td><%= escape_javascript(link_to "Supprimer", sous_category, method: :delete, data: { confirm: "Êtes vous VRAIMENT sûr de vouloir supprimer cette sous catégorie ? Non, je dis ça parce que si vous la supprimez et bien elle y sera plus ! Serieux !"})%></td>
