<% if !current_user.nil? && Right.where(name: "edit_category").pluck(current_user.tech.name).join('')  == 'true' %>
<% @title = "Editer catégorie : #{@category.name}" %>

<%= render 'form' %>
<%= link_to 'Détails', @category %> |
<%= link_to 'Annuler', categories_path %>
<% else %>
<% @title = "Accès non autorisé"%>
<p class="alert_non_authorized">
  Accès non autorisé ! <%= render 'sessions/new' %>
</p>
<% end %>
