<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @detentor_type.name %>
</p>

<%= link_to 'Edit', edit_detentor_type_path(@detentor_type) %> |
<%= link_to 'Back', detentor_types_path %>
