.table-responsive
  table#table_field_agencies.table.table-hover.table-bordered.dataTable
    thead.header
      tr
        th
          | Nom
        th
    tbody
      tr
        td
          input#name_new_field_agency.form-control[type="text" name="name" value="" placeholder="Nom du champ"]
        td
          button#create_new_field_agency.btn.btn-flat.btn-success[type="button" name="button"]
            | +
      - @field_agencies.each do |field_agency|
        tr id="#{field_agency.id}"
          td
            input#input_field_agency.form-control[type="text" name="name" value="#{field_agency.name}"]
          td
            button#delete_field_agency.btn.btn-flat.btn-danger[type="button" name="button"]
              | -
- content_for :js do
  = javascript_include_tag "field_agencies"
