<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field_agency.name %>
</p>

<%= link_to 'Edit', edit_field_agency_path(@field_agency) %> |
<%= link_to 'Back', field_agencies_path %>
