<% unless current_user.nil? %>
  <% if current_user.maj == true || current_user.maj.nil? %>
    <% @maj_flash = Update.last.changesMade %>
    <% current_user.update(maj: false) %>
    <div class="modal fade in" id="notice-modal" role="dialog" style="display:block !important;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="color:#333;">&times;</button>
            <h4 class="modal-title" style="color:#333;">Mise à jour : </h4>
          </div>
          <div class="modal-body" style="color:#333;">
            <%= raw @maj_flash %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
